
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: auto;
}
.content{
  height: 100%;
  overflow-y: scroll;
  //background: #f8f8f9;
  height: 500px;
}
.header-con{
  width: 100%;
  height: 60px;
  //position: fixed;
  background: #fff;
  //box-shadow: 0 1px 1px rgba(0,0,0,05);
  top: 0;
  left: 0;
  //z-index: 2;
}
.menu-con{
  background: #fff
}
.layout-logo{
    width: 100px;
    height: 30px;
    //background: #2d8cf0;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
}
.layout-nav{
    width: 980px;
    //margin: 0 auto;
    padding-right: 200px;
}
.layout-footer-center{
    text-align: center;
}

.ivu-menu-horizontal.ivu-menu-light:after {
  display: none;
}
.notifications {
  text-align: center;
  min-height: 150px;
  max-height: 200px;
  overflow-y: auto;
}
