.idea/
*__pycache__/       
_xxx*
node_modules/
virenv/
appfront/src/assets/images/2018/                                                                                                                                                                                                                                                                                                                            